<?xml	version="1.01"	encoding="UTF-8"	?>	
    <widget	xmlns =	"http://www.w3.org/ns/widgets"	
            xmlns:gap = "http://phonegap.com/ns/1.0"	
            id =	"com.cbogart.pg1"	
            versionCode	=	"11"		
            version	=	"1.0.0"	>	
				<!--	versionCode	is	opIonal	and	Android	only	-->	
				<name>Bogart POS teller</name>	
				<description>	
								App for recording water meter info	
				</description>	
				<author	href="http://www.ashesi.edu.gh"	email="ghkid4lyf@gmail.com">	
								B Bogart	
				</author>	
       <gap:plugin name="cordova-plugin-whitelist" source="npm" />
       <allow-navigation href="data:*" />
       <allow-intent href="*" />
       <access origin="*" />
       <gap:plugin name="com.phonegap.plugins.barcodescanner" version="2.2.0" />
</widget>	